.compactCard {
  display: flex;
  flex: 1;
  border-radius: 0.7rem;
  color: white;
  font-weight: 600;
  padding: 1rem;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  box-shadow: 0 0 10px 4px white;

  .radialBar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .title {
      font-size: 22px;
      margin: 0;
      text-align: center;
      color: white;
      font-weight: 700;
    }
    .CircularProgressbar {
      width: 8rem;
      overflow: visible;
    }

    .CircularProgressbar-path {
      stroke: white;
      stroke-width: 10px;
      filter: drop-shadow(2px 4px 6px white);
    }
  }
  .detail {
    font-size: 28px;
    text-align: center;
    .icon {
    }
  }
}
